.NavMenu {
  display: grid;
  grid-template-columns: 4fr 6fr;
  justify-content: center;
  align-items: center;
  /* padding-top: 15px; */
  /* background-color: aqua; */
  /* background-color: red; */
}
.NameLogo {
  margin-left: 60px;
}
.actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.actions span {
  padding: 10px 20px;
  transition: all 0.3s;
  border-radius: 6px;
}
.actions span:hover {
  background-color: #784cfb;
}
.actions span:hover a {
  color: #ffffff;
}
.actions span a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  color: #784cfb;
}
